<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("partials/head") -%>
  </head>
  <body>
    <!-- Navigation -->
    <%- include("partials/nav") -%>
    <!-- header section -->
    <%- include("partials/header") -%>
    <!-- services section -->
    <%- include("partials/services") -%>
    <!-- how it works section -->
    <%- include("partials/howitworks") -%>
    <!-- why us -->
    <%- include("partials/whyus") -%>
    <!-- testimonials section -->
    <%- include("partials/testimonials") -%>
    <!-- footer -->
    <%- include("partials/footer") -%>
    <!-- javascripts scripts -->
    <%- include("partials/javascript") -%>
  </body>
</html>
