<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("partials/head") -%>
  </head>
  <body>
    <!-- Navigation -->
    <%- include("partials/nav") -%>
    <div class="container-fluid signup">
      <div class="container">
        <h1>Register</h1>
        
        <div class="top">
          <div class="logo">
            <img src="/imges/Intellitutos.png" alt="" width="100px" />
          </div>
        </div>
        <br>
        <div class="bottom signup">
          <form action="/register" method="POST" class="register-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    icon="fa fa-user"
                    name="name"
                    placeholder="Full name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    name="phoneNumber"
                    placeholder="Phone number (+27)"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control" name="studentType" required>
                    <option>---select---</option>
                    <option value="High School Student">
                      High School Student
                    </option>
                    <option value="University Student">
                      University Student
                    </option>
                    <option value="College Student">
                      College Student
                    </option>
                    <option value="College Student">
                      Tutor
                    </option>
                    <option value="College Student">
                      Trader
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    placeholder="Password"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="password"
                    name="confirmPassword"
                    placeholder="Confirm password"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="checkbox-inline"
                    ><input
                      type="checkbox"
                      name="myCheckbox"
                      value="isChecked"
                    />I accept the terms and condition</label
                  >
                </div>
              </div>
            </div>
              <% const combinedErrors = Object.assign({}, validationErrors, otherErrors); %>
          <% if (Object.keys(combinedErrors).length > 0) { %>
            <div class="alert alert-danger">
              <ul>
                <% for (const errorKey in combinedErrors) { %>
                  <% const errorMessages = combinedErrors[errorKey]; %>
                  <% if (Array.isArray(errorMessages)) { %>
                    <% errorMessages.forEach((errorMessage) => { %>
                      <li><%= errorMessage %></li>
                    <% }); %>
                  <% } else { %>
                    <li><%= errorMessages %></li>
                  <% } %>
                <% } %>
              </ul>
            </div>
          <% } %>
        <button type="submit" class="btn btn-secondary">
          <i class="fa fa-user-plus"></i> Register
        </button>

          </form>
          
        </div>
        
      </div>
    </div>
    <!-- footer -->
    <%- include("partials/footer") -%>
    <!-- javascripts scripts -->
    <%- include("partials/javascript") -%>
  </body>
</html>
